.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


app-aluno {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}
