################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ApiAlunos/.vs/ApiAlunos/v16/TestStore/0/004.testlog
