.datatable-cell {
    border: 1px solid transparent !important;
    background-color: transparent !important;
}
  
.posicionamento-botao-table {
    border-radius: 50%;
    height: 2.357rem;
    width: 2.357rem;
    justify-content: center;
    margin-left: 5px;
}