<div class="container mt-3">
    <div class="card col-md-12">
        <h1 class="card-title d-flex mb-0 p-2" style="place-items: center;"> <svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-person-bounding-box mr-3" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd"
                    d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>Alunos</h1>
        <hr class="my-2" style="margin-top: 0 !important;">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="inputBusca">
                    <h3>Busca</h3>
                </label>
                <input type="text" class="form-control" id="inputBusca" placeholder="Nome ou Id" [(ngModel)]="entradaBusca" (keyup)="gerenciaBusca($event)">
            </div>
            <div class="form-group col-md-1">
                <label class="invisible">
                    <h3>~</h3>
                </label>
                <button type="button" style="place-items: center;"
                    class="btn btn-primary form-control d-flex justify-content-around center" title="Buscar"
                    (click)="exibirGerenciarAluno = true"><svg width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg></button>
            </div>
            <div class="form-group col-md-5 barraVertical">
                <label class="invisible">.</label>
                <button type="button" style="place-items: center;"
                    class="btn btn-info form-control d-flex justify-content-around center" title="Adicionar"
                    (click)="cliqueAdicionar()">ADICONAR NOVO ALUNO</button>
            </div>
        </div>

        <app-gerenciar-aluno [entidadeAluno]="alunoEditar" (emitirEsconderGerenciarAluno)="exibirGerenciarAluno = false"
            *ngIf="exibirGerenciarAluno">
        </app-gerenciar-aluno>

        <app-lista-alunos [listaAlunos]="listaAlunosFiltrada" (emitirEditarClique)="eventoEditarAluno($event)"
            (emitirAtualizarListaParent)="carregarAlunos()">
        </app-lista-alunos>
    </div>
</div>