<a routerLink="/alunos/new" mat-button class="icon-text-btn semi-bold">
    <i-feather class="icon" name="plus"></i-feather>
    Adicionar aluno
</a>

<div class="list-header card">
    <div class="title-row">
        <h2>Alunos</h2>
        <aln-search-input (search)="onFilter($event)"></aln-search-input>
    </div>
    <div class="fields list-field-display">
        <div>
            <button mat-button id="id-btn">
                <span>Id</span>
                <i-feather class="icon" name="chevron-down"></i-feather>
            </button>
        </div>
        <div>
            <button mat-button>
                Nome
                <i-feather class="icon" name="chevron-down"></i-feather>
            </button>
        </div>
        <div>
            Ações
        </div>
    </div>
</div>
<ul class="list">
    <li *ngFor="let aluno of alunos$ | async" class="card list-field-display list-item">
        <span id="item-id">{{ aluno.alunoId }}</span>
        <div>
            <p>{{ aluno.nome }}</p>
            <small>{{ aluno.email }}</small>
        </div>
        <div class="actions">
            <a [routerLink]="['/', 'alunos', aluno.alunoId, 'edit']" mat-icon-button>
                <i-feather class="icon" name="edit"></i-feather>
            </a>
            <button mat-icon-button (click)="delete(aluno)">
                <i-feather class="icon" name="trash"></i-feather>
            </button>
        </div>
    </li>
</ul>