// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$alunos-ui-primary: mat-palette($mat-indigo);
$alunos-ui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$alunos-ui-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$alunos-ui-theme: mat-light-theme(
  (
    color: (
      primary: $alunos-ui-primary,
      accent: $alunos-ui-accent,
      warn: $alunos-ui-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($alunos-ui-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

@import "styles/layout.scss";

* {
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif !important;
}


.semi-bold {
  font-weight: 600;
}

.icon-text-btn {
  font-size: 1rem;
  line-height: 1rem;
  
  .icon {
    margin-right: .6rem;
    width: 18px;
    height: 18px;
    line-height: 1rem;
  }
}

.card {
  background-color: white;

  padding: 1rem 2.2rem;
  box-sizing: border-box;

  border-radius: 0.25rem;
  box-shadow: 0px 0px 12px rgba($color: #000000, $alpha: 0.05);
}