@import '~@angular/material/_theming.scss';

@include mat-core();

$my-theme-primary: mat-palette($mat-light-blue);
$my-theme-accent: mat-palette($mat-blue, A200, A100, A600);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);