@import "src/styles/responsive";

.container {
  padding: 0rem 2.25rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @include breakpoint-up(small) {
    padding: 0;
    width: 80%;
  }

  @include breakpoint-up(medium) {
    width: 100%;
    max-width: 990px;
  }

  @include breakpoint-up(medium128) {
    max-width: 1140px;
  }

  @include breakpoint-up(large) {
    max-width: 1300px;
  }

  @include breakpoint-up(xlarge) {
    max-width: 1440px;
  }
}
