<div class="border rounded mb-2" style="padding: 5px;">
    <form [formGroup]="alunoForm" (ngSubmit)="submitFormulario(alunoForm.value)">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="inputId">Id Aluno</label>
                <input formControlName="alunoId" type="text" class="form-control" id="inputId" readonly />
            </div>
            <div class="form-group col-md-4">
                <label for="inputnome">Nome</label>
                <input formControlName="nome" type="text" class="form-control" id="inputnome" placeholder="Nome"
                    required>
                <small *ngIf="!alunoForm.get('nome').value && alunoForm.get('nome').touched"
                    class="form-text text-danger">É obrigatório inserir um Nome</small>
            </div>
            <div class="form-group col-md-6">
                <label for="inputemail">Email</label>
                <input formControlName="email" type="email" class="form-control" id="inputemail"
                    aria-describedby="emailHelp" placeholder="Email" required>
                <small *ngIf="!alunoForm.get('email').value && alunoForm.get('email').touched"
                    class="form-text text-danger">Insira um email válido</small>
            </div>
            <div class="row col-md-12 d-flex justify-content-end float-right">
                <button type="submit" class="btn btn-primary float-right" title="Salvar"
                    [disabled]="!alunoForm.valid">Salvar</button>
                <button class="btn btn-danger float-right ml-3" (click)="emitirEsconderGerenciarAluno.emit(false)"
                    title="Cancelar">Cancelar</button>
            </div>
        </div>
    </form>

</div>